<html>
    <head>
        <title>
                BLOG
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
                
          <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <link rel="stylesheet" href="/stylesheet/index.css">  
       
          
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    <body>
            <div>


                    <nav >
                      <div class="container">
                     <div class="nav-wrapper ">
                      <img  src="/images/logo.png" class="left">
                    
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                      <li><a href="/register">Signup</a></li>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/logout">Logout</a></li>
                    
                    </ul>
                  </div>
                   </nav>
              
                   <ul class="sidenav" id="mobile-demo">
                  <li><a href="/register">Signup</a></li>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/logout">Logout</a></li>
                    
                     </ul>
                        
              </div>
     
        <div class="container">
          <header class="jumbotron">
              <div class="container">
                  <h1>Welcome To Bloggers</h1>
                  
                  <p>
                     <a class="btn btn-primary btn-large center" href="/blog/new">Add New Blog</a>
                  </p>
              </div>
          </header>
          
          <div class="row text-center" style="display:flex; flex-wrap: wrap;">
             <% blog.forEach(function(blog){ %>
                 <div class="col-md-3 col-sm-6">
                     <div class="thumbnail">
                        <img src="<%= blog.image %>">
                        <div class="caption">
                            <h4><%= blog.title %></h4>
                        </div>
                        <p>
                            <a href="/blog/<%=blog._id%>" class="btn btn-primary">More Info</a>
                        </p>
                     </div>
                 </div>
             <% }); %>
         </div>
     </div>
     
          
    </body>
</html>